<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="entityManagerFactory" 
			class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="PersonaJpa" />
	</bean>
	
	<bean id="entityManager"
		factory-bean="entityManagerFactory"
		factory-method="createEntityManager"
		scope="prototype"
		/>

	<bean id="personaDao" class="dao.PersonaDao" scope="prototype">
		<constructor-arg name="autoCommit" value="false"/>
	</bean>
	
	<bean id="ordenadorDao" class="dao.OrdenadorDao" scope="prototype">
		<constructor-arg name="autoCommit" value="false"/>
	</bean>
	
	<bean id="transactionManager" class="transaction.TransactionManager"
		scope="prototype" init-method="init">
		<property name="entityManager" ref="entityManager"/>
	</bean>
		
	<!-- 
		1. Construyo personaService (invoco su constructor)
		2. Inyecta las dependencias
		3. Ejecuta el método init
	 -->
	<bean id="personaService" class="service.PersonaService"
		scope="prototype" init-method="init">
		<property name="personaDao" ref="personaDao"/>
		<property name="ordenadorDao" ref="ordenadorDao"/>
		<property name="transactionManager" ref="transactionManager"/>
	</bean>
	
	<bean id="ordenadorService" class="service.OrdenadorService"
		scope="prototype" init-method="init">
		<property name="ordenadorDao" ref="ordenadorDao"/>
		<property name="personaService" ref="personaService"/>
		<property name="transactionManager" ref="transactionManager"/>
	</bean>
</beans>		